/* 页面根容器样式 */
.home-root {
  min-height: 0;
  max-height: 100vh;
  overflow-y: auto;
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #18181b, #09090b);
}

.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  /* background-color: yellow; */
}

.home-input {
  width: 100%;
  max-width: 28rem;
  margin: 0;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  /* background: blue; */
}

.home-bottom-inner {
  gap: 0;
  width: 100%;
  max-width: 28rem;
}

.home-empty {
  padding: 1.5rem;
  /* background: rgba(31,41,55,0.5); */
  border-radius: 0.75rem;
  border: 1px solid #27272a;
  text-align: center;
  background: #6b7280;
}

.home-empty-icon {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(55,65,81,0.3);
  border-radius: 9999px;
}

/* 空提示文字样式 */
.home-empty-tip {
  color: #9ca3af;
  margin-bottom: 16px;
}

/* 空icon样式 */
.home-empty-icon i {
  color: #6b7280;
  font-size: 32px;
}

