/* 页面根容器样式 */
.home-root {
  min-height: 100vh;
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  /* background: linear-gradient(to bottom, #18181b, #09090b); */
  /* background-color: red; */
}

.home-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 20px 0;
  /* background-color: yellow; */
}

.home-input {
  width: 100%;
  max-width: 28rem;
  margin: 10px 10px;
  /* background-color: blue; */
}

.home-bottom {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.home-bottom-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home-empty {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background: rgba(31,41,55,0.5);
  border-radius: 0.75rem;
  border: 1px solid #27272a;
  text-align: center;
}

.home-empty-icon {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(55,65,81,0.3);
  border-radius: 9999px;
}

.home-footer {
  text-align: center;
  color: #6b7280;
  font-size: 0.75rem;
  margin-top: 2rem;
}

/* 空提示文字样式 */
.home-empty-tip {
  color: #9ca3af;
  margin-bottom: 16px;
}

/* 空icon样式 */
.home-empty-icon i {
  color: #6b7280;
  font-size: 32px;
}
